.calculator {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
}

.display {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    padding-bottom: 15px;
    align-items: center;
}

input {
    width: 90%;
    height: 50px;
    margin: 5px;
    padding: 10px;
}


.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;

}

button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.row {
    grid-row: span 2; 
    height: 100px;
}

.col {
    grid-column: span 2; 
    width: 130px;
}

